:root {
	--color-body: hsl(0, 0%, 98%);

	--color-red: hsl(0, 78%, 62%);

	--color-cyan: hsl(180, 62%, 55%);

	--color-orange: hsl(34, 97%, 64%);

	--color-blue: hsl(212, 86%, 64%);

	--color-very-dark-blue: hsl(234, 12%, 34%);

	--color-grayish-blue: hsl(229, 6%, 66%);

	--color-very-light-gray: hsl(0, 0%, 98%);
}

* {
	margin: 0;

	padding: 0;

	box-sizing: border-box;
}

html, body {
	font-size: 15px;

	font-family: Poppins, sans-serif;

	background-color: var(--color-body);
}

.wrapper {
	min-height: 100vh;

	display: flex;

	flex-direction: column;
}

.content {
	display: flex;

	flex-direction: column;

	flex: 1;
}

.header {
	max-width: 500px;

	margin: 50px auto;

	padding: 0 16px;

	text-align: center;

	color: var(--color-very-dark-blue);
}

.title {
	font-size: 20px;

	font-weight: 200;
}

.subtitle {
	font-size: 20px;

	font-weight: 600;
}

.description {
	margin: 16px 0;

	color: var(--color-grayish-blue);
}

.container {
	max-width: 1140px;

	margin: 0 auto;
}

.box {
	background-color: #FFF;

	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

	border-radius: 5px;

	margin: 15px;

	padding: 30px;

	max-width: 350px;

	position: relative;

	overflow: hidden;
}

.box::after {
	content: '';

	position: absolute;

	left: 0;

	top: 0;

	height: 5px;

	width: 100%;
}

.box-cyan::after {
	background-color: var(--color-cyan);
}

.box-red::after {
	background-color: var(--color-red);
}

.box-blue::after {
	background-color: var(--color-blue);
}

.box-orange::after {
	background-color: var(--color-orange);
}

.box p {
	margin-top: 10px;
}

.box img {
	display: block;

	margin-top: 40px;

	margin-left: auto;
}

.attribution {
	font-size: 11px;

	text-align: center;

	padding: 1rem 1.5rem;
}

.attribution a {
	color: var(--color-blue);
}

@media screen and (min-width: 767px) {
	.title, .subtitle {
		font-size: 32px;
	}
}

@media screen and (min-width: 1023px) {
	.container {
		display: flex;

		align-items: center;
	}
}